.board-container {
    padding: 20px;
    text-align: center;
    background-color: #523F37;
    color: #EAD4AA;
    border-radius: 20px;
    width: 80%;
    margin: auto;
    position: relative;
}
  
.back-button {
    background: none;
    border: none;
    font-size: 24px;
    color: #EAD4AA;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
}
  
.board-title {
    font-size: 36px;
    margin: 20px 0;
}
  
.create-button {
    background-color: #E88B8B;
    border: none;
    color: #FFFFFF;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}
  
.board-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
  
.board-table th, .board-table td {
    border: 1px solid #EAD4AA;
    padding: 10px;
    text-align: left;
}

/* Add this part to change cursor on hover */
.board-table td.title-cell {
    cursor: pointer;
}
  
.door-navigation {
    display: flex;
    justify-content: center;
    gap: 50px;
}
  
.door {
    cursor: pointer;
    text-align: center;
}
  
.door-image {
    width: 100px;
    height: 150px;
    background-size: cover;
    border-radius: 10px;
}
  
.bulletin {
    background-image: url('../images/doorb.png');
}
  
.sharing {
    background-image: url('../images/doorb.png');
}
  
.door-name {
    margin-top: 10px;
    font-size: 18px;
}
  
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.modal {
    background: #2E2A2A;
    color: #EAD4AA;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}
  
.modal-back-button {
    background: none;
    border: none;
    font-size: 24px;
    color: #EAD4AA;
    cursor: pointer;
    margin-bottom: 10px;
}
  
.form-group {
    margin-bottom: 20px;
}
  
label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}
  
input, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #EAD4AA;
    color: #2E2A2A;
    font-size: 16px;
}
  
textarea {
    height: 100px;
}
  
.modal-create-button {
    background-color: #E88B8B;
    border: none;
    color: #FFFFFF;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}
