/* src/Door.css */
.door-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3b2424;
  }
  
  .door {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .door-image {
    width: 100px;
    height: 150px;
    transition: transform 0.3s ease;
  }
  
  .door-name {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #826861;
    transition: color 0.3s ease;
  }
  
  .door:hover .door-name {
    color: white;
  }
  
  .door:hover .door-image {
    transform: scale(1.1);
  }
  